{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/verrukkulluk-burger.png"/>
{% endblock %} #}

{# Header #}
{# Script and images for the Vegas carousel #}
{% block vegasCarousel %}
    $(document).ready( function() {

        const mySlides = [
            { src: "https://static.ah.nl/static/recepten/img_097765_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_RAM_PRD147605_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_118618_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_RAM_PRD171861_1224x900_JPG.jpg" },
        ]
        
        $("#background-image").vegas({
            slides: mySlides,
        })

    })
{% endblock %}

{% block headerImage %}
    id="background-image"
{% endblock %}


{# Body #}
{% block content %}

    <div class = "row content">

        {% for record in data %}

            <div class="col-6 boxShadow">

                <div class="row">
                    <img src="{{ record.dish.image }}" style="width: 100px; height: 100px;">
                </div>

                <div class="row spacer"></div>

                <div class="row">
                    <div class="col-9"><h2>{{ record.dish.name }}</h2></div>
                    <div class="col-3">Rating {# {{ record.rating }} #} </div>
                </div>

                <div class="row">
                    <div>{{ record.dish.description_short }}</div>
                </div>

                <div class="row spacer"></div>

                <div class="row">

                    <div class="col-5">
                        {# Knop naar detailpagina #}
                        <div><h4>Smullen!</h4></div>
                    </div>

                    <div class="col-7">
                        <div>eu {{ (record.price / 100)|number_format(2)}}
                        kcal {{ record.calories|round }}</div>
                    </div>
                
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
