{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/verrukkulluk-burger.png"/>
{% endblock %} #}


{# Body #}
{% block content %}

    <div class="row">

        {% for record in data %}

            <div class="col-5 offset-1 dishCard boxShadow mb-5">

                <div class="row">
                    <div class="col-12 p-0">
                        <img src="{{ record.dish.image }}" class="dishImage">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-9 dishTitle"><h2>{{ record.dish.name }}</h2></div>
                    <div class="col-3 dishRating">Rating {# {{ record.rating }} #} </div>
                </div>

                <div class="row">
                    <div class="dishDescrShort"><br>{{ record.dish.description_short }}<br><br></div>
                </div>

                {# <div class="row spacer"></div> #}

                <div class="row mb-3">

                    <div class="col-5">
                        {# Knop naar detailpagina #}
                        <a href="http://localhost/educom-verrukkulluk/index.php?dish_id={{ record.dish.id }}&action=detail" class="smullenKnop boxShadow">
                            Smullen!
                        </a>
                        {# <a href="http://localhost/educom-verrukkulluk/index.php"><button type=submit class="smullenKnop boxShadow my-3"><h4 class="smullenText">Smullen!</h4></a> #}
                    </div>

                    <div class="col-7 d-flex align-items-center justify-content-end">
                        <div class="dishDescrShort">
                            <i class="fa-solid fa-euro-sign dishIcon"></i>{{ (record.price / 100)|number_format(2)}}
                            <i class="fa-solid fa-fire dishIcon"></i>{{ record.calories|round }}
                        </div>
                    </div>
                
                </div>

            </div>

        {% endfor %}
        
    </div>

{% endblock %}
