{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# {% block header %}
<img src="assets/img/verrukkulluk-burger.png"/>
{% endblock %} #}

{# Header #}
{# Script and images for the Vegas carousel #}
{% block vegasCarousel %}
    $(document).ready( function() {

        const mySlides = [
            { src: "https://static.ah.nl/static/recepten/img_097765_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_RAM_PRD147605_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_118618_1224x900_JPG.jpg" },
            { src: "https://static.ah.nl/static/recepten/img_RAM_PRD171861_1224x900_JPG.jpg" },
        ]
        
        $("#background-image").vegas({
            slides: mySlides,
        })

    })
{% endblock %}

{% block headerImage %}
    id="background-image"
{% endblock %}


{# Body #}
{% block content %}

    <div class="row">

        {% for record in data %}

            <div class="col-5 offset-1 dishCard boxShadow mb-5">

                <div class="row">
                    <div class="col-12 p-0">
                        <img src="{{ record.dish.image }}" class="dishImage">
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-9 dishTitle"><h2>{{ record.dish.name }}</h2></div>
                    <div class="col-3 dishRating">Rating {# {{ record.rating }} #} </div>
                </div>

                <div class="row">
                    <div class="dishDescrShort"><br>{{ record.dish.description_short }}<br><br></div>
                </div>

                {# <div class="row spacer"></div> #}

                <div class="row">

                    <div class="col-5">
                        {# Knop naar detailpagina #}
                        <div><button type=submit class="smullenKnop boxShadow my-3"><h4 class="smullenText">Smullen!</h4></div>
                    </div>

                    <div class="col-7 d-flex align-items-center justify-content-end">
                        <div class="dishDescrShort">
                            <i class="fa-solid fa-euro-sign dishIcon"></i>{{ (record.price / 100)|number_format(2)}}
                            <i class="fa-solid fa-fire dishIcon"></i>{{ record.calories|round }}
                        </div>
                    </div>
                
                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
