{% extends "main.html.twig" %}


{% block content %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">

            <div class="row boxshadow">

                <div class="row m-4"><h1>Boodschappen</h1></div>
                <div class="row spacer"></div>
                
                <div class="class row groceries">
                    {% for record in groceData %}
                        
                        <div class="row">
                            <div class="col-1"><img src="{{ record.image }}" class="groceryImg"></div>
                            <div class="col-8 p-2">
                                <div class="row">{{ record.name }}</div>
                                <div class="row mb-4">{{ record.description }}</div>
                            </div>
                            <div class="col-1">{{ record.amount }}</div>
                            <div class="col-1">{{ (( record.amount * record.price_cent ) / 100)|number_format(2) }}</div>
                            <div class="col-1 remove" articleID={{ record.article_id }}>
                                <form method="POST" action="./index.php?user_id={{record.user_id}}&article_id={{record.article_id}}&action=remove">
                                    <button>Remove</button>
                                </form>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-2 m-4">
                        <h2>Totaal</h2>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                </div>
            
            </div>
        </div>
    </div>


    {# Dump #}
    {# <div class="row boxshadow">
        <pre>
            {{ dump(data) }}
        </pre>
    </div> #}

{% endblock %}